#!/bin/bash

function changemac() {
  sudo ifconfig en0 ether $1
}

function whatismyip() {
  curl ifconfig.me
}

function highlight() {
    declare -A fg_color_map
    fg_color_map[black]=30
    fg_color_map[red]=31
    fg_color_map[green]=32
    fg_color_map[yellow]=33
    fg_color_map[blue]=34
    fg_color_map[magenta]=35
    fg_color_map[cyan]=36

    fg_c=$(echo -e "\e[1;${fg_color_map[$1]}m")
    c_rs=$'\e[0m'
    sed -u s"/$2/$fg_c\0$c_rs/g"
}

function in_git_repository
{
    depth=$(($(grep -o / <<< `pwd` | wc -l) + 1 ))
    cur=0
    while [ $cur -lt $depth ]; do
        prefix=""
        for((i=0;i<$cur;i++))
        do
            prefix="../$prefix"
        done

        if [ -d "$prefix.git" ]
        then
            return 0
        fi
        let cur+=1
    done

    return 1
}

function colors() {
  for i in $(seq 0 8); do printf "\x1b[38;5;${i}m%03d " $i; done
  printf "\n"
  for i in $(seq 8 16); do printf "\x1b[38;5;${i}m%03d " $i; done

  printf "\n\n"

  for g in $(seq 0 5); do
    for r in $(seq 0 5); do
      for b in $(seq 0 5); do
        c=$[16 + $[r * 36] + $[g * 6] + $b];
        printf "\x1b[38;5;${c}m%03d " $c
      done
      printf "\x1b[0m "
    done
    printf "\n"
  done

  printf "\n"

  for i in $(seq 232 243); do printf "\x1b[38;5;${i}m%03d " $i; done
  printf "\n"
  for i in $(seq 244 255); do printf "\x1b[38;5;${i}m%03d " $i; done

  printf "\x1b[0m\n"
}

if [ -f ~/.functions_local ]; then . ~/.functions_local; fi
