function highlight
{
    declare -A fg_color_map
    fg_color_map[black]=30
    fg_color_map[red]=31
    fg_color_map[green]=32
    fg_color_map[yellow]=33
    fg_color_map[blue]=34
    fg_color_map[magenta]=35
    fg_color_map[cyan]=36

    fg_c=$(echo -e "\e[1;${fg_color_map[$1]}m")
    c_rs=$'\e[0m'
    sed -u s"/$2/$fg_c\0$c_rs/g"
}

function in_git_repository
{
    depth=$(($(grep -o / <<< `pwd` | wc -l) + 1 ))
    cur=0
    while [ $cur -lt $depth ]; do
        prefix=""
        for ((i = 0; i < $cur; i++))
        do
            prefix="../$prefix"
        done

        if [ -d "$prefix.git" ]
        then
            return 0
        fi
        let cur+=1
    done

    return 1
}

function colors
{
  for i in $(seq 0 8); do printf "\x1b[38;5;${i}m%03d " $i; done
  printf "\n"
  for i in $(seq 8 16); do printf "\x1b[38;5;${i}m%03d " $i; done

  printf "\n\n"

  for g in $(seq 0 5); do
    for r in $(seq 0 5); do
      for b in $(seq 0 5); do
        c=$[16 + $[r * 36] + $[g * 6] + $b];
        printf "\x1b[38;5;${c}m%03d " $c
      done
      printf "\x1b[0m "
    done
    printf "\n"
  done

  printf "\n"

  for i in $(seq 232 243); do printf "\x1b[38;5;${i}m%03d " $i; done
  printf "\n"
  for i in $(seq 244 255); do printf "\x1b[38;5;${i}m%03d " $i; done

  printf "\x1b[0m\n"
}

function wiki
{
    echo
    encoded=`printf %s "$@" | jq -s -R -r @uri`
    curl --data-urlencode "titles=$encoded" -s 'https://en.wikipedia.org/w/api.php?format=json&action=query&prop=extracts&exintro&explaintext&redirects=1' | jq -Mr '.query.pages | .[] | .extract' | tr -d '\n' | fold -w 76 -s | sed 's/^/  /'
    echo
}

function make_cert
{
    subj="/C=${SSL_COUNTRY:-US}/ST=${SSL_STATE:-New York}/L=${SSL_LOCALITY:-New York}/O=${SSL_ORGANIZATION:-Acme Heavy Industries}/OU=${SSL_ORGANIZATION_UNIT:-Bit-Shifting Department}/CN=$1"
    echo Subject: "$subj"
    openssl req -nodes -x509 -newkey rsa:4096 -keyout $1.key -out $1.pem -days 9001 -subj "$subj"
    if [ $? -eq 0 ]; then
        echo "Created $1.key and $1"
    fi
}

grep -qs Raspberry\ Pi /proc/device-tree/model
[[ $? -eq 0 ]] && [[ -e "$HOME/.functions_pi" ]] && source "$HOME/.functions_pi"

[[ -e "$HOME/.functions_local" ]] && source "$HOME/.functions_local"
